**ARİTHMETİC OPERATORS**

In [ ]:
four=4
four.__sub__(2) #__sub__expression: used to extract numbers in python

2

In [ ]:
9//3

3

In [ ]:
9%8

1

In [ ]:
9/2

4.5

In [ ]:
10//6

1

In [ ]:
min_salary=5000
max_salary=10000
avg_salary=(min_salary+max_salary)/2
print(avg_salary)

7500.0

**ASSİGNMENT OPERATORS**

In [ ]:
string1="Nazlıcan"
string2="PÜSKÜLLÜ"
string2=string1
print("string2:%s\nstring1:%s " %(string1,string2))

string2:Nazlıcan
string1:Nazlıcan

In [ ]:
x=3
x +=5 #x=x+5
x

8

In [ ]:
x *=10
x

80

**COMPARİSON OPERATORS**

In [ ]:
nazlican_salary=30.000
ahmet_salary=40.000
nazlican_salary==ahmet_salary #returns true or false

False

In [ ]:
1==1

True

In [ ]:
9<8

False

In [ ]:
"ayşe"!="ahmet"

True

In [ ]:
"nazli"!="nazli"

False

**CONDİTİONAL**


1.   İF
2.   ELİF
3.   ELSE

In [ ]:
if True:
  print("Nazli is a data nerd")

Nazli is a data nerd

In [20]:
applicant_skill="Python"
job_skill="SQL"
years_experience=7
if job_skill==applicant_skill:
  print("You are hired")
elif years_experience<6:
  print("you are   hired")
else:
  pass #pass means "don't do anything"